asgiref==3.8.1
Django==5.1.6
imageio==2.37.0
joblib==1.4.2
lazy_loader==0.4
networkx==3.4.2
numpy==2.2.2
opencv-python==4.11.0.86
packaging==24.2
pillow==11.1.0
scikit-image==0.25.1
scikit-learn==1.6.1
scipy==1.15.1
sqlparse==0.5.3
threadpoolctl==3.5.0
tifffile==2025.1.10
