{% extends '_base.html' %}
{% load static %}
{% load custom_filters %}


{% block title%}
	CBIR
{% endblock%}


{% block content %}
	<div class="m-5">
		<div class="row">
		  <div class="col-sm-6 mb-3 mb-sm-0">
			<div class="card shadow rounded border-0 p-5">
				{% if uploaded_image %}
					<img src="/media/{{uploaded_image}}" class="card-img-top" alt="uploaded_image">
				{% endif %}
		      <div class="card-body">
		        <h5 class="card-title">Upload Image</h5>
		        <form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">
		        	{% csrf_token %}
		        	<label class="form-label" for="customFile">Please selecet a picture.</label>
					<input type="file" class="form-control mb-2" id="customFile" name="image" />
		        	<button type="submit" class="btn btn-outline-danger myfont">بارگذاری</button>
		        </form>
		      </div>
		    </div>
		  </div>

  		  <div class="col-sm-6 mb-3 mb-sm-0">
			<form method="POST" action="{% url 'feedback' %}">
				{% csrf_token %}
				<input type="hidden" name="original_image" value="{{ uploaded_image }}">
				{% for image in matched_images%}
					<div class="card shadow rounded border-0 mb-3">
						<img class="card-img-top" src="/static/{{image}}" alt="Image {{ forloop.counter }}">
						<div class="card-body">
							<h5 class="card-title">{{image}}</h5>
							<div class="row justify-content-between">
								<div class="col-4">
									<span>{{scores|index:forloop.counter0}}</span>
								</div>
								<div class="col-4">
									<input type="checkbox" name="relevant_images" value="{{ image }}"> Relevant
								</div>
							  </div>
						</div>
					</div>
				{% endfor %}
				{% if matched_images %}
					<button class="btn btn-outline-danger myfont" type="submit">ارسال بازخورد</button>
				{% endif %}
			</form>
		  </div>
		</div>
	</div>
{% endblock %}
